@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    color: #000000;
}

.better-img-1 {
    background-image: url(./image/1.jpeg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 0.1px;
}

.better-text {
    margin: 593px 497px 79px 100px;
}

.better-text-1 {
    color: white;
    font-size: 62PX;
    max-width: 529px;
    font-weight: bold;
}

.yourself-bg {
    background-image: linear-gradient(to right, #1843b6, #df69ff);
    width: 100%;
    height: auto;
}


.all-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.Training {
    padding: 50px;
}

.Training-img-1 {
    background-image: url(./image/2.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
    margin-left: 73px;


}

.Training-text-1 {
    color: white;
    text-align: center;
}

.Training-text-2 {
    max-width: 217px;
    text-align: center;
    color: white;
}

.Marathons {
    padding: 50px;
}

.Marathons-img-1 {
    background-image: url(./image/3.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
    margin-left: 73px;


}

.Marathons-text-1 {
    color: white;
    text-align: center;
}

.Marathons-text-2 {
    max-width: 217px;
    text-align: center;
    color: white;
}

.Community {
    padding: 50px;
}

.Community-img-1 {
    background-image: url(./image/4.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
    margin-left: 73px;


}

.Community-text-1 {
    color: white;
    text-align: center;
}

.Community-text-2 {
    max-width: 217px;
    text-align: center;
    color: white;
}

.Runners-Club {
    padding: 50px;
}

.Runners-Club-img-1 {
    background-image: url(./image/5.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
    margin-left: 73px;


}

.Runners-Club-text-1 {
    color: white;
    text-align: center;
}

.Runners-Club-text-2 {
    max-width: 217px;
    text-align: center;
    color: white;
}

.multimedia-bg {
    background-image: linear-gradient(to right, #1843b6, #df69ff);
    width: 100%;
    height: auto;
}

.multimedia-text {
    padding-top: 50px;
}

.multimedia-text-1 {
    color: white;
    max-width: 488px;
    font-size: 53px;
}

.multimedia-text-2 {
    color: white;
    max-width: 559px;
    font-size: 17px;
    margin-top: 10px;
}

.multimedia-image-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.multimedia-img-1 {
    background-image: url(./image/6.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 540px;
    height: 637px;
    margin-left: 30px;
}

.Must-Haves-bg {
    background-color: #1843b6;
    width: 100%;
    height: auto;
    padding: 0.1px;
}

.Must-Haves-text-1 {
    color: white;
    margin: 61px 545px 0 130px;
    font-size: 55px;
}

.Must-Haves-text-2 {
    color: white;
    margin-left: 140px;
    margin-top: 10px;
    font-weight: bold;
}

.Must-Haves-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Must-Haves-img-1 {
    background-image: url(./image/7.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 260px;
    width: 260px;
    height: 288px;
    margin: 15px;
    border-radius: 30px;
    transition: 0.5s;
    margin-bottom: 51px;
}

.Must-Haves-img-1:hover {
    background-size: 280px;
}

.Must-Haves-img-2 {
    background-image: url(./image/8.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 260px;
    width: 260px;
    height: 288px;
    margin: 15px;
    border-radius: 30px;
    transition: 0.5s;
    margin-bottom: 51px;
}

.Must-Haves-img-2:hover {
    background-size: 280px;
}

.Must-Haves-img-3 {
    background-image: url(./image/9.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 260px;
    width: 260px;
    height: 288px;
    margin: 15px;
    border-radius: 30px;
    transition: 0.5s;
    margin-bottom: 51px;
}

.Must-Haves-img-3:hover {
    background-size: 280px;
}

.Must-Haves-img-4 {
    background-image: url(./image/10.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 260px;
    width: 260px;
    height: 288px;
    margin: 15px;
    border-radius: 30px;
    transition: 0.5s;
    margin-bottom: 51px;
}

.Must-Haves-img-4:hover {
    background-size: 280px;
}

.Fun {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.fun-bg {
    background-color: #df69ff;
    width: 355px;
    height: 753px;
}

.fun-image {
    background-image: url(./image/11.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 664px;
    height: 753px;
}

.fun-bg-1 {
    background-color: #1843b6;
    width: 403px;
    height: 753px;
}

.fun-no-1-text {
    margin: 250px 0 0 50px;
}

.fun-no-1-text-1 {
    color: white;
}

.fun-no-1-text-2 {
    color: white;
    font-size: 55px;
}

.fun-no-1-text-3 {
    color: white;
    font-size: 16px;
    max-width: 234px;
}

.fun-bg-no-3-text {
    margin: 250px 0 0 50px;
}

.fun-bg-no-3-text-1 {
    color: white;
    font-size: 25px;
    max-width: 341px;
}

.fun-bg-no-3-text-2 {
    color: white;
    margin-top: 100px;
    font-size: 65px;
}

.fun-image-no-3 {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 45px;
}

.fun-image-no-3-img-1 {
    background-image: url(./image/12.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    margin: 10px;
}

.fun-image-no-3-img-2 {
    background-image: url(./image/13.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    margin: 10px;
}

.fun-image-no-3-img-3 {
    background-image: url(./image/14.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    margin: 10px;
}

.fun-image-no-3-img-4 {
    background-image: url(./image/15.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    margin: 10px;
}

.fun-image-no-3-img-5 {
    background-image: url(./image/16.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    margin: 10px;
}



.Multiply-image-1 {
    background-image: url(./image/17.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Multiply-image-2 {
    background-image: url(./image/18.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 570px;
    width: 570px;
    height: 772px;
    transition: 0.5s;
}

.Multiply-image-2:hover {
    background-size: 600px;
}

.Multiply-text-1 {
    color: white;
    text-align: end;
    font-size: 56px;
}

.Multiply-text-2 {
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

.Multiply-text {
    padding: 0px;
}

.Three-bg {
    background-image: linear-gradient(to right, #1843b6, #df69ff);
    width: 100%;
    height: auto;
    padding: 0.1px;
}

.Three-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.Three-image-img-1 {
    background-image: url(./image/19.jpeg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 500px;
    width: 311px;
    height: 324px;
    margin: 15px;
    transition: 0.5s;
}

.Three-image-img-1:hover {
    background-size: 550px;
}

.Three-image-img-2 {
    background-image: url(./image/20.jpeg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 500px;
    width: 311px;
    height: 324px;
    margin: 15px;
    transition: 0.5s;
}

.Three-image-img-2:hover {
    background-size: 550px;
}

.Three-image-img-3 {
    background-image: url(./image/21.jpeg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 500px;
    width: 311px;
    height: 324px;
    margin: 15px;
    transition: 0.5s;
}

.Three-image-img-3:hover {
    background-size: 550px;
}

.Three-text {
    margin-left: 220px;
    margin-top: 50px;
}

.Three-text-1 {
    color: white;
    font-size: 55px;

}

.Three-text-2 {
    color: white;
    font-size: 1.3rem;
}

.Three-text-3 {
    color: white;
    margin: 15px;
}

.harness-bg-1 {
    background-color: #df69ff;
    width: 474px;
    height: 600px;
}

.harness-bg-2 {
    background-color: #1843b6;
    width: 474px;
    height: 600px;
}

.Harness {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.harness-img-1 {
    background-image: url(./image/22.jpeg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 474px;
    height: 600px;
}

.harness-bg-1-text-1 {
    color: white;
    margin-top: 107px;
    margin-left: 17px;
}

.harness-bg-1-text-2 {
    color: white;
    padding: 15px;
    font-size: 21px;
}

.harness-bg-2-text-1 {
    color: white;
    font-size: 18px;
}

.harness-bg-2-text-2 {
    color: white;
    max-width: 333px;
    font-size: 50px;
}

.harness-bg-2-text {
    padding: 80px;
    margin-top: 47px;
}

.created-bg {
    background-color: #333333;
    width: 100%;
    height: 100px;
    padding: 0.1px;
}

.created {
    color: white;
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
}

.created-text-1 {
    color: #a9bef8;
    font-size: 15px;
}

@media only screen and (max-width: 450px) {
    .better-text {
        margin: 70px 41px 103px 23px;
    }

    .better-text-1 {
        color: white;
        font-size: 38PX;
        max-width: 377px;
        font-weight: bold;
    }

    .multimedia-img-1 {
        background-image: url(./image/6.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 350px;
        height: 417px;
        margin-left: 1px;
    }

    .multimedia-text-1 {
        color: white;
        max-width: 556px;
        font-size: 34px;
        padding: 23px;
    }

    .multimedia-text-2 {
        color: white;
        max-width: 556px;
        font-size: 14px;
        padding: 21px;
    }

    .Must-Haves-text-1 {
        color: white;
        margin: 54px 0px 0 57px;
        font-size: 48px;
    }

    .Must-Haves-text-2 {
        color: white;
        margin-left: 41px;
        margin-top: 10px;
        font-weight: bold;
    }

    .fun-image {
        background-image: url(./image/11.jpg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 664px;
        height: 753px;
        background-position-x: -74px;
    }

    .fun-bg {
        background-color: #df69ff;
        width: 100%;
        height: 753px;
    }

    .fun-bg-1 {
        background-color: #1843b6;
        width: 100%;
        height: 753px;
    }

    .fun-no-1-text-2 {
        color: white;
        font-size: 66px;
    }

    .fun-no-1-text-3 {
        color: white;
        font-size: 21px;
        max-width: 342px;
    }

    .Multiply-text-1 {
        color: white;
        text-align: left;
        font-size: 44px;
        margin-top: 53px;
    }

    .Multiply-text {
        padding: 20px;
    }

    .Three-text {
        margin-left: 1px;
        margin-top: 50px;
    }

    .Three-text-1 {
        color: white;
        font-size: 40px;
        padding: 19px;
    }

    .harness-bg-2-text {
        padding: 28px;
        margin-top: 140px;
    }
}